<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="card card_c shadow-sm">
        <div class="card-body p-4">
            <h2 class="text-center mb-2 heading_fw">JobQuest </h2>
            <p class="text-center text-muted">Reset your account password</p>
            <form>
                <!-- #loginForm="ngForm" (ngSubmit)="login(loginForm)" -->
                @if(status=='email'){
                <div class="mb-3">
                    <label for="email" class="form-label">Enter Registered Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email"
                    [(ngModel)]="controlValue" required email />
                </div>
                }

                @if(status=='otp'){
                    <div class="mb-3">
                        <label for="email" class="form-label">Enter One-Time Password (OTP)</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email"
                        [(ngModel)]="controlValue" required />
                    </div>
                    }

                @if(status=='password'){
                <div class="mb-3 relative_pos">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password"
                    [(ngModel)]="controlValue" (ngModelChange)="onChangeInPassword()" placeholder="Enter your password" required />
                    <img class="form-eye-img cursor-pointer" src="images/eye.svg" alt="eye icon"
                        (click)="showHidePassword('password')">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Confirm Password</label>
                    <input type="password" name="password" class="form-control" id="confirm-password"
                    [(ngModel)]="controlValue2" (ngModelChange)="confirmPassword()" (paste)="$event.preventDefault()" placeholder="Confirm your password" required />
                </div>
                }

                <div class="d-grid gap-2">
                    @if(errorMsg){<p class="text-danger m-0">{{errorMsg}}</p>}
                    <button type="button" class="btn btn-primary" (click)="resetPassAction()">{{controlButtton}}</button>
                    <p class="text-danger text-center">Please do not refresh this page.</p>
                </div>
            </form>
        </div>
    </div>
</div>