.card {
    border: none;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .card-body ul li {
    margin-bottom: 0.5rem;
  }
  
  ul {
    padding-left: 20px;
  }
  
  img {
    object-fit: contain;
  }
  
  .text-muted {
    font-size: 0.9rem;
  }