<header class="py-3 border-bottom position-sticky bg-white header_c">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <a class="d-flex align-items-center col-lg-4 mb-2 ms-5 mb-lg-0 link-dark">
      <h2 class="cursor-pointer app_name" (click)="navigateToMain()">JOBS</h2>
    </a>

    <div class="d-flex align-items-center">
      <div class="w-100 me-3"></div>
      <div class="w-100 me-3"></div>
      <div class="w-100 me-3">
        <div class="form-check form-switch  position-relative">
          <label class="form-check-label lable-left">Creator</label>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="toggleValue" (ngModelChange)="toggleRole()">
            <span class="slider round"></span>
          </label>
          <label class="form-check-label lable-right">Reader</label>
        </div>
      </div>
      <div class="w-100 me-3"></div>
      <div class="flex-shrink-0 dropdown">
        <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="assets/images/no-profile.svg" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item"> {{userInfo?.name}} </a></li>
          <hr class="m-1">
          <li><a class="dropdown-item cursor-pointer" (click)="logOut()">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>