<div class="mb-5" *ngIf="jobDetails">
    <h2>
        <img class="back-arrow cursor-pointer" src="assets/images/back-arrow.svg" alt="back" (click)="backClick()">
        Job details
    </h2>

    <div class="jumbotron">
        <h1 class="display-5"> {{jobDetails.position}}</h1>
        <p class="lead">Company: {{jobDetails.company}}</p>
        <hr class="my-4">
        <p class="lead">
            <strong>Description: </strong> {{jobDetails.description}}
        </p>
        <p class="lead">
            <strong>Location: </strong>{{jobDetails.location}}
        </p>
        <p class="lead">
            <strong>Type: </strong>{{jobDetails.type}}
        </p>
    </div>
    <div class="job_d_button" *ngIf="userRole == 'reader'">
        <button type="button" class="btn btn-primary btn-form" (click)="apply()">Apply</button>
    </div>
</div>