<div class="center-form mt-4 mb-5">
    <div class="p-2 pe-5">
        <h2 class="mb-4"> 
            <img class="back-arrow cursor-pointer" *ngIf="editJobUId" src="assets/images/back-arrow.svg" alt="back" (click)="backClick()">
            {{formTitle}}
        </h2>
        <form [formGroup]="addJobForm">
            <div class="mb-3">
                <label  class="form-label">Position <span class="text-danger">*</span></label>
                <input type="text" class="form-control" [maxlength]="100" formControlName="position">
            </div>
            <div class="mb-3">
                <label  class="form-label">Company <span class="text-danger">*</span></label>
                <input type="email" class="form-control" [maxlength]="50" formControlName="company">

            </div>
            <div class="mb-3">
                <label  class="form-label">Description <span
                        class="text-danger">*</span></label>
                <textarea class="form-control" rows="3" formControlName="description"  [maxlength]="500"></textarea>
            </div>
            <div class="mb-3 position-relative">
                <label  class="form-label">Location <span class="text-danger">*</span></label>
                <input type="text" class="form-control pe-4" formControlName="location">

            </div>
            <div class="mb-3">
                <label class="form-label"> Type <span class="text-danger">*</span></label>
                <select class="form-select" aria-label="Default select example" formControlName="type">
                    <option>Full-time</option>
                    <option>Part-time</option>
                    <option>Internship</option>
                </select>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label"> Status <span class="text-danger">*</span></label>
                <select class="form-select" aria-label="Default select example" formControlName="status">
                    <option>Pending</option>
                    <option>Interview</option>
                    <option>Declined</option>
                </select>
            </div> -->
            <button type="button" class="btn btn-primary btn-form" [ngClass]="{'disabled':addJobForm?.invalid}"
                (click)="addNewJob()">Submit</button>
        </form>
    </div>
</div>