.c_card {
    min-height: 230px;
    width: 25rem;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.c_ellipse {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search_bar{
    display: flex;
    justify-content: center;
}

.search_width{
    width: 50%;
}

.center_card{
    display: flex;
    justify-content: center;
}

.btn-link{
 text-decoration: none;   
}

.desc_h{
    height: 48px;
}