<div class="position-relative">
  <ng-container *ngIf="isUserAuthorized">
    <!-- header component -->
    <app-header *ngIf="showHeaderAndFooter"></app-header>
    <!-- header component -->

    <!-- toaster messages component -->
    <app-toaster></app-toaster>
    <!-- toaster messages component -->

    <router-outlet></router-outlet>

    <!-- footer component  -->
    <app-footer *ngIf="showHeaderAndFooter"></app-footer>
    <!-- footer component  -->
  </ng-container>

  <ng-container *ngIf="!isUserAuthorized">
    <!-- using not found comp for showing unauthorized url messages -->
    <app-not-found *ngIf="!isUserAuthorized" 
    [message]="unauthorizedMsg"
    [secondaryMessage]="unauthorizedSecMsg"
    ></app-not-found>
    <!-- unauthorized url messages -->
  </ng-container>

  <!-- spinner -->
  <ngx-spinner [fullScreen]="true" type="ball-spin-clockwise" size="medium"></ngx-spinner>
  <!-- spinner -->
  
</div>