/* You can add global styles to this file, and also import other style files */
body {
    font-family:'Helvetica', sans-serif; ;
}
.cursor-pointer{
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

.form-eye-img{
    position: absolute;
    right: 5px;
    top: 43px;
}

.back-arrow{
    width: 20px;
}

.app_border-bottom{
    border-bottom: 1px solid #0d6efd;
}

.app_name {
    font-family: ui-monospace;
    font-size: 40px;
}